/*
 * CSS3 Treeview. No JavaScript
 * @version 1.0
 * @author Martin Ivanov
 * @url developer's website: http://wemakesites.net/
 * @url developer's twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer's blog http://acidmartin.wordpress.com/
 **/
 
/*
 * This solution works with all modern browsers and Internet Explorer 9+. 
 * If you are interested in purchasing a JavaScript enabler for IE8 
 * for the CSS3 Treeview, please, check this link:
 * http://experiments.wemakesites.net/miscellaneous/acidjs-css3-treeview/
 **/
 
.treeview-container {
    border: 2px solid #e6e6e6;
}

.css-treeview-action {
    margin: 2px 3px 3px 4px;
    text-align: right;
    background: #999;
}

.css-treeview-action a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.css-treeview-action a:hover,
.css-treeview-action a:visited {
    background: #9C9C9C !important;
}

.css-treeview {
    margin-top: 12px;
    overflow-y: scroll;
    max-height: 60vh;
}

.css-treeview ul,
.css-treeview li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.css-treeview > ul {
    margin: 4px;
}
 
.css-treeview .tree-item-container,
.css-treeview .tree-item {    
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.2em;
}

.css-treeview .tree-item {
    padding-left: 6px;
    border-left: 1px solid #ddd;
    margin-left: 22px;
}

.css-treeview input {
    position: relative;
    opacity: 0;
}
 
.css-treeview {
    font: normal 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
 
.css-treeview a {
    color: #00f;
    text-decoration: none;
}

.css-treeview .tree-item a {    
    padding-left: 6px;
    text-transform: lowercase;
    font-size: .8em;
}
 
.css-treeview a:hover {
    text-decoration: underline;
}
 
.css-treeview input + label + ul {
    margin: 0 0 0 22px;
}
 
.css-treeview input ~ ul {
    display: none;
}

.css-treeview label {
    font-size: 14px;
}

/*.css-treeview label,
.css-treeview label::before
{
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
}*/
 
.css-treeview input:disabled + label {
    cursor: default;
    opacity: .6;
}
 
.css-treeview input:checked:not(:disabled) ~ ul {
    display: block;
}

.css-treeview input:checked+label:before {
    /* active folder */
    /*content: '\f224';*/
}
 
.css-treeview label::before {
    /* folder */
    /*content: '\f228';*/
}


/*.css-treeview label::after {*/
    /* caret-right */
    /*content: '\f2f6';*/
    /*float: left;
}

.css-treeview input:checked+label:after { */
    /* caret-down */
    /*content: '\f2f2';*/
/*}*/

.css-treeview label,
.css-treeview label::before,
.css-treeview label::after {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    margin-right: 4px;
    margin-bottom: 2px;
}

.css-treeview label {
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
}

.brunch-container-icon {
    padding: 2px;
    min-width: 8px;
    text-align: right;
}

.brunch-container-icon.icon-folder::after {
    /* folder */
    content: '\f228';
}

.css-treeview input:checked ~ .brunch-container-icon.icon-folder::after {
    /* active folder */
    content: '\f224';
}

.brunch-container-icon.icon-caret::after {
    /* caret-right */
    content: '\f2f6';
}

.css-treeview input:checked ~ .brunch-container-icon.icon-caret::after {
    /* caret-down */
    content: '\f2f2';
}

/*.css-treeview label
{*/
    /*background-position: 18px 0;*/
    /*margin-left: 6px;*/
/*}*/
 
/*.css-treeview label::before
{
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}*/
 
/*.css-treeview input:checked + label::before
{
    background-position: 0 -16px;
}*/
 
/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .css-treeview {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }
 
    @-webkit-keyframes webkit-adjacent-element-selector-bugfix 
    {
        from 
        { 
            padding: 0;
        } 
        to 
        { 
            padding: 0;
        }
    }
}

.css-treeview .zmdi {
    vertical-align: text-top;
    display: inline;
}

.css-treeview .item-over {
    border-bottom: 1px solid #ddd;
}