.pc-list, .pc-list ul {
  list-style: none
}

.pc-list ul {
  display: inline-block;
}

.pc-list li {
  margin: 4px;
}

.pc-list>li {
  border-bottom: 1px dotted #ccc;
  display: flex;
  padding: 10px 0 2px;
}

.pc-list li strong {
  margin-right: 20px;
}

.pc-list li img {
  margin-bottom: 4px;
  max-height: 120px;
  max-width: 120px;
}

.column-left, .column-right {
  display: inline-block;
  width: 42%;
  vertical-align: text-top;
}

.catalog-data-manipulation-box .content-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.catalog-data-manipulation-box .content-header .nav {
  margin-bottom: 0;
  text-align: right;
}

.catalog-data-manipulation-box .content-header .nav > li {
  display: inline-block;
  float: none;
  height: 35px;
}

.catalog-data-manipulation-box a:link, 
.catalog-data-manipulation-box a:visited, 
.catalog-data-manipulation-box a:hover,
.catalog-data-manipulation-box .nav .btn-link {
  color: #08c !important;  
  text-decoration: none;
}

.catalog-data-manipulation-box .disabled a:link, 
.catalog-data-manipulation-box .disabled a:visited, 
.catalog-data-manipulation-box .disabled a:hover {
  color: #999 !important;  
  cursor: not-allowed;
  text-decoration: none;
}

.tabs-below>.nav-tabs>li.disabled>a:hover, 
.tabs-below>.nav-tabs>li.disabled>a:focus {
  border: none;
}

.catalog-data-manipulation-box .nav .btn-link:hover,
.catalog-data-manipulation-box .nav .btn-link:focus {
  background-color: #eee;
  border-radius: 5px;
}

.catalog-data-manipulation-box .img-caption,
.catalog-data-manipulation-box .img-body {
  height: 85px;
}

.catalog-data-manipulation-box dd img {
  height: 68px;
  max-width: 68px;
}

.catalog-data-manipulation-box .form-horizontal .control-label {
  width: 100px;
}

.catalog-data-manipulation-box .form-horizontal .controls {
  margin-left: 110px;
  width: 100%
}

.catalog-data-manipulation-box form input[type='file'] {
  width: 100%;
}

.catalog-add {
  padding: 0;
  margin: 0;
}
