.img-preview-box .img-preview {
    max-height: 150px;
    max-width: 150px;    
    margin: 20px 10px 20px 0;
    border: 1px solid #aaa;
}

.catalog-data-manipulation-box .img-preview-box > span > a {
    color: #b94a48 !important;
}