body {
  background-image: none;
}

.app {
  margin: 30px 0;
  padding: 0;
}

.app .nav {
  margin-bottom: 0;
}

.actions a.item {
  color: #08c !important;
}

.form-horizontal input, .form-horizontal select {
  height: 24px;
}

.control-group.error input, 
.control-group.error select, 
.control-group.error textarea {
  box-shadow: none;  
}

.tab-content {
  overflow: hidden;
}