
.related-products .actions {
  margin: 16px 0;
  text-align: right;
}

.related-products .actions .sbmt-btn {
  color: #fff !important;
  background: #08c;
  padding: 4px 8px;
}

.related-products-list {
  border: 2px dashed #eee;
  list-style: none;
  min-height: 200px;
  width: 100%;
  margin: 0;    
}

.related-products-list.active {
  border-color: #3a87ad
}

.related-products-list li {
  margin: 14px 10px 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.related-products-list .details ul {
  display: inline-block;
  margin: 0 20px 0 0;
}

.related-products-list .details li {
  margin: 4px;
  justify-content: flex-start;
}

.related-products-list .details li a {
  font-weight: bold;
  margin-left: 4px;
}

.related-products-list .details li input {
  margin: 0 0 0 4px;
  height: 12px;
  width: 30px;
}

.catalog-data-manipulation-box .related-products-list .details li a:link, 
.catalog-data-manipulation-box .related-products-list .details li a:visited, 
.catalog-data-manipulation-box .related-products-list .details li a:hover {
  text-decoration: underline;  
}

.related-products-list .alert {
  background-color: #f2dede;
  margin-bottom: 10px;
  padding-right: 10px;
}

.related-products-list li:hover {
  background-color: #f9f9f9;
}

.related-products-list img {
    max-height: 50px;
    max-width: 50px;
    margin-right: 10px;
    vertical-align: top;
    border: 1px solid #eee;
}

.related-products-list .actions {
  margin: 0;
  padding: 0;  
}

.related-products-list .delete-alert {
  color: #b94a48;
}

.catalog-data-manipulation-box .related-products-list .delete-alert a:link, 
.catalog-data-manipulation-box .related-products-list .delete-alert a:visited, 
.catalog-data-manipulation-box .related-products-list .delete-alert a:hover {
  color: #333;
}

.catalog-data-manipulation-box .related-products-list .delete-alert a.danger-btn:link, 
.catalog-data-manipulation-box .related-products-list .delete-alert a.danger-btn:visited, 
.catalog-data-manipulation-box .related-products-list .delete-alert a.danger-btn:hover {
  color: #b94a48 !important;
}

.related-products-list .delete-alert a {    
  padding: 6px 12px;
  font-size: 12px;
}

.related-products-list .del-btn {    
  margin: auto 4px;
  color: #333;
  background-color: #e6e6e6;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.5;

  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #b5b5b5;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}